<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/home" class="navbar-brand" (click)="closeMenu()">
      Greenaction
    </a>

    <button class="navbar-toggler" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav" [class.open]="isMenuOpen">
      <li>
        <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()" class="nav-link">Home</a>
      </li>
      <li>
        <a routerLink="/flora" routerLinkActive="active" (click)="closeMenu()" class="nav-link">Flora</a>
      </li>
      <li>
        <a routerLink="/fauna" routerLinkActive="active" (click)="closeMenu()" class="nav-link">Fauna</a>
      </li>
      <li>
        <a routerLink="/peta-interaktif" routerLinkActive="active" (click)="closeMenu()" class="nav-link">Peta</a>
      </li>

      <li *ngIf="isUserLoggedIn">
        <a routerLink="/artikel" routerLinkActive="active" (click)="closeMenu()" class="nav-link">Artikel</a>
      </li>
      <li *ngIf="isUserLoggedIn">
        <a routerLink="/profil" routerLinkActive="active" (click)="closeMenu()" class="nav-link">Profil</a>
      </li>
      <li *ngIf="!isUserLoggedIn">
        <a routerLink="/login" routerLinkActive="active" (click)="closeMenu()" class="nav-link">Login</a>
      </li>
      <li *ngIf="isUserLoggedIn">
        <a (click)="logout()" style="cursor: pointer;" class="nav-link btn btn-logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
